body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

header h2 {
    margin: 0;
    text-shadow: 1px 2px 3px #666;
}

.main {
    padding: 20px;
}

.main p {
    text-align: justify;
}

.overflow {
    height: 150px;
    overflow-y: scroll;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
}

a:hover {
    color: gray;
    text-decoration: underline;
    font-weight: bold;
}

footer > a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-right: 1px solid white;
    margin-right: 10px;
    padding-right: 10px;
}

a:last-child {
    border-right: none;
}

.news {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.1)
}











