body {
    font-family: Arial, Helvetica, sans-serif;
  }

p > img {
    vertical-align: super;
}

button > img {
    vertical-align: middle;
}
/* with class parameter
.super {
    vertical-align: super;
}

.top {
    vertical-align: top;
}*/

